.container-fluid {
    height:100vh;
    background-color:whitesmoke;
}

.form-title {
    margin-top:10px;
    margin-bottom:35px;
}

.col-lg-4 {
    height:auto;
}

#movie-input,
#find-movie {
    display: block;
    width:100%;
}

.search-bar {
    background-color:lightgray;
}

.poster-bar {
    background-color:gray;
}

.info-bar {
    background-color:lightgray;;
}

.search-list{
    margin-top:20px;
    
}

.search-list >h5 {
    text-transform:capitalize;
    margin-top:10px;
    padding-top:5px;
    margin-bottom:10px;
    padding-bottom:5px;
    border-top:1px solid darkgray;
}

@media only screen and (max-width: 600px) {

    img.card-img-top {
        justify-content: ceter;
        width:100%;
        height:auto;
    }
    
    .col-12
    {
        height:auto;
    }
}